## assume we have dataset for all of the recommended items

In [138]:
# for hybridization we use majority vote

In [139]:
import pandas as pd

In [140]:
place = pd.read_csv("../data/datasets/updated/tourism_with_id_updated.csv")

In [141]:
final_result = place.copy()

In [142]:
result_constraints_recommender = pd.read_csv("../data/output/knowledge_recommendation.csv")
result_cf_recommender = pd.read_csv("../data/output/cf_recommendation.csv")

In [143]:
final_result = pd.merge(final_result, result_constraints_recommender[['Place_Id', 'score']], on='Place_Id', how='left')
final_result.rename(columns={'score': 'score_1'}, inplace=True)

final_result = pd.merge(final_result, result_cf_recommender[['Place_Id', 'score']], on='Place_Id', how='left')
final_result.rename(columns={'score': 'score_2'}, inplace=True)

In [144]:
final_result['score_sum'] = final_result['score_1'].fillna(0) + final_result['score_2'].fillna(0)

In [145]:
final_result.sort_values("score_sum", ascending=False, inplace=True)

In [147]:
final_result.head(10)

,Place_Id,Place_Name,Description,City,Price,Rating,Time_Minutes,Coordinate,Lat,Long,new_category,score_1,score_2,score_sum
299,300,Sanghyang Heuleut,Danau yang satu ini memiliki air jernih bernua...,Bandung,10000,4.4,NaN,"{'lat': -6.876513099999999, 'lng': 107.3422183}",-6.876513,107.342218,"['Alam', 'Petualangan']",1.0,1.0,2.0
218,219,Tebing Karaton,Tebing Keraton atau Tebing Karaton merupakan s...,Bandung,15000,4.5,NaN,"{'lat': -6.8340683, 'lng': 107.6636151}",-6.834068,107.663615,"['Alam', 'Petualangan']",1.0,NaN,1.0
296,297,Mountain View Golf Club,Selamat Datang di Mountain View Golf Club Dago...,Bandung,375000,4.4,120.0,"{'lat': -6.8629384, 'lng': 107.6482191}",-6.862938,107.648219,['Olahraga'],1.0,NaN,1.0
305,306,Sungai Palayangan,Sungai Palayangan terletak di Kawasan Objek Wi...,Bandung,150000,4.6,NaN,"{'lat': -7.1965023, 'lng': 107.5454594}",-7.196502,107.545459,"['Alam', 'Petualangan']",1.0,NaN,1.0
304,305,Sunrise Point Cukul,Sunrise Point Cukul merupakan salah satu tempa...,Bandung,10000,4.6,NaN,"{'lat': -7.233689000000002, 'lng': 107.5342933}",-7.233689,107.534293,"['Alam', 'Petualangan']",1.0,NaN,1.0
138,139,Puncak Gunung Api Purba - Nglanggeran,Gunung Nglanggeran adalah sebuah gunung di Dae...,Yogyakarta,10000,4.7,60.0,"{'lat': -7.841252999999998, 'lng': 110.543056}",-7.841253,110.543056,"['Alam', 'Petualangan']",NaN,1.0,1.0
300,301,Lereng Anteng Panoramic Coffee Place,Lereng Anteng Panoramic Coffee adalah sebuah t...,Bandung,50000,4.4,150.0,"{'lat': -6.842535, 'lng': 107.622698}",-6.842535,107.622698,"['Alam', 'Relaksasi']",1.0,NaN,1.0
298,299,Sendang Geulis Kahuripan,Wilayah ini lebih tepatnya berada di RPH Cikal...,Bandung,10000,4.3,120.0,"{'lat': -6.7495268, 'lng': 107.478658}",-6.749527,107.478658,"['Alam', 'Relaksasi']",1.0,NaN,1.0
295,296,Batununggal Indah Club,Kolam renang Batununggal merupakan salah satu ...,Bandung,70000,4.4,NaN,"{'lat': -6.963229999999999, 'lng': 107.626416}",-6.963230,107.626416,"['Olahraga', 'Hiburan', 'Keluarga']",1.0,NaN,1.0
272,273,Curug Bugbrug,Curug Bugbrug Sesuai dengan namanya kata Bugbr...,Bandung,7500,4.3,120.0,"{'lat': -6.790388999999999, 'lng': 107.5777632}",-6.790389,107.577763,"['Alam', 'Petualangan']",1.0,NaN,1.0